USE [Electioneer]
GO
/****** Object:  View [dbo].[Ml_DataView1]    Script Date: 9/19/2024 3:30:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Ml_DataView1]
AS
SELECT v.SourceState
	,v.SourceStateId
	,v.BirthDate
	,v.StateRegistrationDate
	,v.VoterActiveOnRoles
	,v.Residential_City
	,v.Residential_State
	,v.Residential_Zip
	,v.Residential_Zip_Plus_4
	,v.LastElectionVotedIn
	,et.ElectionType
	,el.ElectionLevel
	,e.ElectionDate
	,DATEDIFF(Month, v.BirthDate, e.ElectionDate) / 12.0 AS AgeAtTimeOfElection
	,p.PartyName AS PartyAffiliationDuringElection
	,convert(int,veh.Voted) Voted
	,DATEDIFF(Month, v.BirthDate, v.StateRegistrationDate) / 12.0 AS AgeAtTimeOfRegistration
	,DATEDIFF(Month, v.StateRegistrationDate, v.FirstElectionVotedIn) / 12.0 AS TimeRegisteredPriorToFirstVoting
FROM dbo.StateCounty AS sc
INNER JOIN dbo.VoterElectionHistory AS veh
INNER JOIN dbo.Voter AS v ON veh.VoterKey = v.VoterKey
INNER JOIN dbo.OutputOhVoters oov ON oov.VoterKey = v.voterkey
INNER JOIN dbo.ElectionLevels AS el
INNER JOIN dbo.Elections AS e ON el.ElectionLevelId = e.ElectionLevelId
INNER JOIN dbo.ElectionTypes AS et ON e.ElectionTypeId = et.ElectionTypeId ON veh.ElectionId = e.ElectionId ON sc.CountyKey = v.CountyKey INNER JOIN dbo.Precinct ON v.PrecinctKey = dbo.Precinct.PrecinctKey LEFT OUTER JOIN dbo.Parties AS p ON veh.PartyAffiliation = p.PartyId 
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "el"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 119
               Right = 256
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "e"
            Begin Extent = 
               Top = 6
               Left = 294
               Bottom = 136
               Right = 491
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "et"
            Begin Extent = 
               Top = 6
               Left = 529
               Bottom = 119
               Right = 746
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "veh"
            Begin Extent = 
               Top = 6
               Left = 784
               Bottom = 136
               Right = 991
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "v"
            Begin Extent = 
               Top = 120
               Left = 38
               Bottom = 250
               Right = 284
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "p"
            Begin Extent = 
               Top = 120
               Left = 529
               Bottom = 233
               Right = 705
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "sc"
            Begin Extent = 
               Top = 138
               Left = 322
               Bottom = 268
               Right = 492
            End
            DisplayFlags = 280
            TopColumn = 0
         End' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Ml_DataView1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'
         Begin Table = "Precinct"
            Begin Extent = 
               Top = 290
               Left = 352
               Bottom = 420
               Right = 550
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Ml_DataView1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Ml_DataView1'
GO
