USE [Electioneer]
GO
/****** Object:  Table [staging].[OhioVoterLoad]    Script Date: 9/19/2024 3:30:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [staging].[OhioVoterLoad](
	[SOS_Voter_Id] [nvarchar](13) NOT NULL,
	[County_Number] [nvarchar](2) NULL,
	[County_Id] [nvarchar](50) NULL,
	[Last_Name] [nvarchar](50) NULL,
	[First_Name] [nvarchar](50) NULL,
	[Middle_Name] [nvarchar](50) NULL,
	[Suffix] [nvarchar](10) NULL,
	[Date_Of_Birth] [nvarchar](10) NULL,
	[Registration_Date] [nvarchar](10) NULL,
	[Voter_Status] [nvarchar](10) NULL,
	[Party_Affiliation] [nvarchar](1) NULL,
	[Residential_Address1] [nvarchar](100) NULL,
	[Residential_Address_2_] [nvarchar](100) NULL,
	[Residential_City] [nvarchar](50) NULL,
	[Residential_State] [nvarchar](20) NULL,
	[Residential_Zip] [nvarchar](5) NULL,
	[Residential_Zip_Plus_4] [nvarchar](4) NULL,
	[Residential_Country] [nvarchar](50) NULL,
	[Residential_Postal_Code] [nvarchar](10) NULL,
	[Mailing_Address1] [nvarchar](100) NULL,
	[Mailing_Address_2_] [nvarchar](10) NULL,
	[Mailing_City] [nvarchar](50) NULL,
	[Mailing_State] [nvarchar](20) NULL,
	[Mailing_Zip] [nvarchar](5) NULL,
	[Mailing_Zip_Plus_4] [nvarchar](4) NULL,
	[Mailing_Country] [nvarchar](50) NULL,
	[Mailing_Postal_Code] [nvarchar](10) NULL,
	[Career_Center] [nvarchar](80) NULL,
	[City] [nvarchar](80) NULL,
	[City_School_District] [nvarchar](80) NULL,
	[County_Court__District] [nvarchar](80) NULL,
	[Congressional_District] [nvarchar](2) NULL,
	[Court_of_Appeals] [nvarchar](2) NULL,
	[Education_Service_Center] [nvarchar](80) NULL,
	[Exempted_Village_School_District] [nvarchar](80) NULL,
	[Library_District] [nvarchar](80) NULL,
	[Local_School_District] [nvarchar](80) NULL,
	[Municipal_Court_District] [nvarchar](80) NULL,
	[Precinct] [nvarchar](80) NULL,
	[Precinct_Code_] [nvarchar](20) NULL,
	[State_Board_of_Education] [nvarchar](2) NULL,
	[State_Representative_District_] [nvarchar](2) NULL,
	[State_Senate_District] [nvarchar](2) NULL,
	[Township] [nvarchar](20) NULL,
	[Village] [nvarchar](20) NULL,
	[Ward] [nvarchar](20) NULL,
	[Voter_History] [nvarchar](50) NULL,
	[PRIMARY_03_07_2000] [nvarchar](2) NULL,
	[GENERAL_11_07_2000] [nvarchar](2) NULL,
	[SPECIAL_05_08_2001] [nvarchar](2) NULL,
	[GENERAL_11_06_2001] [nvarchar](2) NULL,
	[PRIMARY_05_07_2002] [nvarchar](2) NULL,
	[GENERAL_11_05_2002] [nvarchar](2) NULL,
	[SPECIAL_05_06_2003] [nvarchar](2) NULL,
	[GENERAL_11_04_2003] [nvarchar](2) NULL,
	[PRIMARY_03_02_2004] [nvarchar](2) NULL,
	[GENERAL_11_02_2004] [nvarchar](2) NULL,
	[SPECIAL_02_08_2005] [nvarchar](2) NULL,
	[PRIMARY_05_03_2005] [nvarchar](2) NULL,
	[PRIMARY_09_13_2005] [nvarchar](2) NULL,
	[GENERAL_11_08_2005] [nvarchar](2) NULL,
	[SPECIAL_02_07_2006] [nvarchar](2) NULL,
	[PRIMARY_05_02_2006] [nvarchar](2) NULL,
	[GENERAL_11_07_2006] [nvarchar](2) NULL,
	[PRIMARY_05_08_2007] [nvarchar](2) NULL,
	[PRIMARY_09_11_2007] [nvarchar](2) NULL,
	[GENERAL_11_06_2007] [nvarchar](2) NULL,
	[PRIMARY_11_06_2007] [nvarchar](2) NULL,
	[GENERAL_12_11_2007] [nvarchar](2) NULL,
	[PRIMARY_03_04_2008] [nvarchar](2) NULL,
	[PRIMARY_10_14_2008] [nvarchar](2) NULL,
	[GENERAL_11_04_2008] [nvarchar](2) NULL,
	[GENERAL_11_18_2008] [nvarchar](2) NULL,
	[PRIMARY_05_05_2009] [nvarchar](2) NULL,
	[PRIMARY_09_08_2009] [nvarchar](2) NULL,
	[PRIMARY_09_15_2009] [nvarchar](2) NULL,
	[PRIMARY_09_29_2009] [nvarchar](2) NULL,
	[GENERAL_11_03_2009] [nvarchar](2) NULL,
	[PRIMARY_05_04_2010] [nvarchar](2) NULL,
	[PRIMARY_07_13_2010] [nvarchar](2) NULL,
	[PRIMARY_09_07_2010] [nvarchar](2) NULL,
	[GENERAL_11_02_2010] [nvarchar](2) NULL,
	[PRIMARY_05_03_2011] [nvarchar](2) NULL,
	[PRIMARY_09_13_2011] [nvarchar](2) NULL,
	[GENERAL_11_08_2011] [nvarchar](2) NULL,
	[PRIMARY_03_06_2012] [nvarchar](2) NULL,
	[GENERAL_11_06_2012] [nvarchar](2) NULL,
	[PRIMARY_05_07_2013] [nvarchar](2) NULL,
	[PRIMARY_09_10_2013] [nvarchar](2) NULL,
	[PRIMARY_10_01_2013] [nvarchar](2) NULL,
	[GENERAL_11_05_2013] [nvarchar](2) NULL,
	[PRIMARY_05_06_2014] [nvarchar](2) NULL,
	[GENERAL_11_04_2014] [nvarchar](2) NULL,
	[PRIMARY_05_05_2015] [nvarchar](2) NULL,
	[PRIMARY_09_15_2015] [nvarchar](2) NULL,
	[GENERAL_11_03_2015] [nvarchar](2) NULL,
	[PRIMARY_03_15_2016] [nvarchar](2) NULL,
	[GENERAL_06_07_2016] [nvarchar](2) NULL,
	[PRIMARY_09_13_2016] [nvarchar](2) NULL,
	[GENERAL_11_08_2016] [nvarchar](2) NULL,
	[PRIMARY_05_02_2017] [nvarchar](2) NULL,
	[PRIMARY_09_12_2017] [nvarchar](2) NULL,
	[GENERAL_11_07_2017] [nvarchar](2) NULL,
	[PRIMARY_05_08_2018] [nvarchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[SOS_Voter_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
