USE [ElectioneerStaging]
GO
/****** Object:  Table [dbo].[IrsReturnData]    Script Date: 9/19/2024 3:36:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IrsReturnData](
	[IrsReturnData] [bigint] IDENTITY(1,1) NOT NULL,
	[IrsReturnYear] [int] NULL,
	[ZipCode] [varchar](5) NULL,
	[MinAgi] [int] NULL,
	[MaxAgi] [int] NULL,
	[Number_of_returns] [int] NULL,
	[Number_of_single_returns] [int] NULL,
	[Number_of_joint_returns] [int] NULL,
	[Number_of_head_of_household_returns] [int] NULL,
	[Number_of_electronically_filed_returns] [int] NULL,
	[Number_of_computer_prepared_paper_returns] [int] NULL,
	[Number_of_returns_with_paid_preparer's_signature] [int] NULL,
	[Number_of_returns_with_direct_deposit] [int] NULL,
	[Number_of_individuals] [int] NULL,
	[Total_number_of_volunteer_prepared_returns] [int] NULL,
	[Number_of_volunteer_income_tax_assistance_(VITA)_prepared_returns] [int] NULL,
	[Number_of_tax_counseling_for_the_elderly_(TCE)_prepared_returns] [int] NULL,
	[Number_of_volunteer_prepared_returns_with_Earned_Income_Credit] [int] NULL,
	[Number_of_refund_anticipation_check_returns] [int] NULL,
	[Number_of_elderly_returns] [int] NULL,
	[Adjust_gross_income_(AGI)] [int] NULL,
	[Number_of_returns_with_total_income] [int] NULL,
	[Total_income_amount] [int] NULL,
	[Number_of_returns_with_salaries_and_wages] [int] NULL,
	[Salaries_and_wages_amount] [int] NULL,
	[Number_of_returns_with_taxable_interest] [int] NULL,
	[Taxable_interest_amount] [int] NULL,
	[Number_of_returns_with_ordinary_dividends] [int] NULL,
	[Ordinary_dividends_amount] [int] NULL,
	[Number_of_returns_with_qualified_dividends] [int] NULL,
	[Qualified_dividends_amount] [int] NULL,
	[Number_of_returns_with_state_and_local_income_tax_refunds] [int] NULL,
	[State_and_local_income_tax_refunds_amount] [int] NULL,
	[Number_of_returns_with_business_or_professional_net_income_(less_loss)] [int] NULL,
	[Business_or_professional_net_income_(less_loss)_amount] [int] NULL,
	[Number_of_returns_with_net_capital_gain_(less_loss)] [int] NULL,
	[Net_capital_gain_(less_loss)_amount] [int] NULL,
	[Number_of_returns_with_taxable_individual_retirement_arrangements_distributions] [int] NULL,
	[Taxable_individual_retirement_arrangements_distributions_amount] [int] NULL,
	[Number_of_returns_with_taxable_pensions_and_annuities] [int] NULL,
	[Taxable_pensions_and_annuities_amount] [int] NULL,
	[Number_of_farm_returns] [int] NULL,
	[Number_of_returns_with_unemployment_compensation] [int] NULL,
	[Unemployment_compensation_amount] [int] NULL,
	[Number_of_returns_with_taxable_Social_Security_benefits] [int] NULL,
	[Taxable_Social_Security_benefits_amount] [int] NULL,
	[Number_of_returns_with_partnership/S-corp_net_income_(less_loss)] [int] NULL,
	[Partnership/S-corp_net_income_(less_loss)_amount] [int] NULL,
	[Number_of_returns_with_total_statutory_adjustments] [int] NULL,
	[Total_statutory_adjustments_amount] [int] NULL,
	[Number_of_returns_with_educator_expenses] [int] NULL,
	[Educator_expenses_amount] [int] NULL,
	[Number_of_returns_with_Self-employed_(Keogh)_retirement_plans] [int] NULL,
	[Self-employed_(Keogh)_retirement_plans_amount] [int] NULL,
	[Number_of_returns_with_Self-employed_health_insurance_deduction] [int] NULL,
	[Self-employed_health_insurance_deduction_amount] [int] NULL,
	[Number_of_returns_with_Individual_retirement_arrangement_payments] [int] NULL,
	[Individual_retirement_arrangement_payments_amount] [int] NULL,
	[Number_of_returns_with_student_loan_interest_deduction] [int] NULL,
	[Student_loan_interest_deduction_amount] [int] NULL,
	[Number_of_returns_with_total_standard_deduction] [int] NULL,
	[Total_standard_deduction_amount] [int] NULL,
	[Number_of_returns_with_basic_standard_deduction] [int] NULL,
	[Basic_standard_deduction_amount] [int] NULL,
	[Number_of_returns_with_additional_standard_deduction] [int] NULL,
	[Additional_standard_deduction_amount] [int] NULL,
	[Number_of_returns_with_itemized_deductions] [int] NULL,
	[Total_itemized_deductions_amount] [int] NULL,
	[Amount_of_AGI_for_itemized_returns] [int] NULL,
	[Number_of_returns_with_Total_medical_and_dental_expense_deduction] [int] NULL,
	[Total_medical_and_dental_expense_deduction_amount] [int] NULL,
	[Number_of_returns_with_State_and_local_income_taxes] [int] NULL,
	[State_and_local_income_taxes_amount] [int] NULL,
	[Number_of_returns_with_State_and_local_general_sales_tax] [int] NULL,
	[State_and_local_general_sales_tax_amount] [int] NULL,
	[Number_of_returns_with_real_estate_taxes] [int] NULL,
	[Real_estate_taxes_amount] [int] NULL,
	[Number_of_returns_with_Personal_property_taxes] [int] NULL,
	[Personal_property_taxes_amount] [int] NULL,
	[Number_of_returns_with_Limited_state_and_local_taxes] [int] NULL,
	[Limited_state_and_local_taxes] [int] NULL,
	[Number_of_returns_with_Total_taxes_paid] [int] NULL,
	[Total_taxes_paid_amount] [int] NULL,
	[Number_of_returns_with_Home_mortgage_interest_paid] [int] NULL,
	[Home_mortgage_interest_paid_amount] [int] NULL,
	[Number_of_returns_with_Home_mortgage_from_personal_seller] [int] NULL,
	[Home_mortgage_from_personal_seller_amount] [int] NULL,
	[Number_of_returns_with_Deductible_points] [int] NULL,
	[Deductible_points_amount] [int] NULL,
	[Number_of_returns_with_Investment_interest_paid] [int] NULL,
	[Investment_interest_paid_amount] [int] NULL,
	[Number_of_returns_with_Total_charitable_contributions] [int] NULL,
	[Total_charitable_contributions_amount] [int] NULL,
	[Number_of_returns_with_Other_non-limited_miscellaneous_deductions] [int] NULL,
	[Other_non-limited_miscellaneous_deductions_amount] [int] NULL,
	[Number_of_returns_with_Qualified_business_income_deduction] [int] NULL,
	[Qualified_business_income_deduction] [int] NULL,
	[Number_of_returns_with_taxable_income] [int] NULL,
	[Taxable_income_amount] [int] NULL,
	[Number_of_returns_with_income_tax_before_credits] [int] NULL,
	[Income_tax_before_credits_amount] [int] NULL,
	[Number_of_returns_with_alternative_minimum_tax] [int] NULL,
	[Alternative_minimum_tax_amount] [int] NULL,
	[Number_of_returns_with_excess_advance_premium_tax_credit_repayment] [int] NULL,
	[Excess_advance_premium_tax_credit_repayment_amount] [int] NULL,
	[Number_of_returns_with_total_tax_credits] [int] NULL,
	[Total_tax_credits_amount] [int] NULL,
	[Number_of_returns_with_foreign_tax_credit] [int] NULL,
	[Foreign_tax_credit_amount] [int] NULL,
	[Number_of_returns_with_child_and_dependent_care_credit] [int] NULL,
	[Child_and_dependent_care_credit_amount] [int] NULL,
	[Number_of_returns_with_nonrefundable_education_credit] [int] NULL,
	[Nonrefundable_education_credit_amount] [int] NULL,
	[Number_of_returns_with_retirement_savings_contribution_credit] [int] NULL,
	[Retirement_savings_contribution_credit_amount] [int] NULL,
	[Number_of_returns_with_child_and_other_dependent_credit] [int] NULL,
	[Child_and_other_dependent_credit_amount] [int] NULL,
	[Number_of_returns_with_residential_energy_tax_credit] [int] NULL,
	[Residential_energy_tax_credit_amount] [int] NULL,
	[Number_of_returns_with_self-employment_tax] [int] NULL,
	[Self-employment_tax_amount] [int] NULL,
	[Number_of_returns_with_total_premium_tax_credit] [int] NULL,
	[Total_premium_tax_credit_amount] [int] NULL,
	[Number_of_returns_with_advance_premium_tax_credit] [int] NULL,
	[Advance_premium_tax_credit_amount] [int] NULL,
	[Number_of_returns_with_total_tax_payments] [int] NULL,
	[Total_tax_payments_amount] [int] NULL,
	[Number_of_returns_with_earned_income_credit] [int] NULL,
	[Earned_income_credit_amount] [int] NULL,
	[Number_of_returns_with_excess_earned_income_credit] [int] NULL,
	[Excess_earned_income_credit_(refundable)_amount] [int] NULL,
	[Number_of_returns_with_additional_child_tax_credit] [int] NULL,
	[Additional_child_tax_credit_amount] [int] NULL,
	[Number_of_returns_with_refundable_education_credit] [int] NULL,
	[Refundable_education_credit_amount] [int] NULL,
	[Number_of_returns_with_net_premium_tax_credit] [int] NULL,
	[Net_premium_tax_credit_amount] [int] NULL,
	[Number_of_returns_with_income_tax_after_credits] [int] NULL,
	[Income_tax_after_credits_amount] [int] NULL,
	[Number_of_returns_with_tax_liability] [int] NULL,
	[Total_tax_liability_amount] [int] NULL,
	[Number_of_returns_with_additional_Medicare_tax] [int] NULL,
	[Additional_Medicare_tax_amount] [int] NULL,
	[Number_of_returns_with_net_investment_income_tax] [int] NULL,
	[Net_investment_income_tax_amount] [int] NULL,
	[Number_of_returns_with_tax_due_at_time_of_filing] [int] NULL,
	[Tax_due_at_time_of_filing_amount] [int] NULL,
	[Number_of_returns_with_total_overpayments] [int] NULL,
	[Total_overpayments_amount] [int] NULL,
	[Number_of_returns_with_overpayments_refunded] [int] NULL,
	[Overpayments_refunded_amount] [int] NULL,
	[Number_of_returns_with_credit_to_next_year’s_estimated_tax] [int] NULL,
	[Credited_to_next_year’s_estimated_tax_amount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IrsReturnData] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_IrsReturnData_ZipCode_IrsReturnYear_MinAgi_MaxAgi]    Script Date: 9/19/2024 3:36:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_IrsReturnData_ZipCode_IrsReturnYear_MinAgi_MaxAgi] ON [dbo].[IrsReturnData]
(
	[ZipCode] ASC,
	[IrsReturnYear] ASC,
	[MinAgi] ASC,
	[MaxAgi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
